<h1>User Name's Summer Bucket List</h1>
 <form action="/users/signup.hbs" method="post">
  <div>
    <label for ="email">email</label>
    <input type="text" name="email">
  <div>

  <div>
    <label for= "password">password</label>
    <input type="" name="email"></lable>
  </div>
<input type="submit" name="Submit">
</form>
