<h1>The Flyest Pirates of Da 7 Cs</h1>
<div class="container">
<ul>
  {{#each pirates}}
    <li><a href="/pirates/show"><h2>{{name}}</h2></a></li>
   <button><li><a href="/pirates/new"><h2><span>add new pirate</h2></a></li></button>
<form action="/pirates/{{@index}}?_method=DELETE" method="POST">
    <li><input type="submit" value="DELETE" /></li>
</form>
{{/each}}
</ul>
</div>
