<form method="POST" action="/recipes">
 <div>
    <label for="title">title:</label>
    <input type="text" name="title">
  </div>
  <div>
    <label for="Chocolate">Chocolate:</label>
    <span>yes</span><input type="radio" name="Chocolate" value="true" checked>
    <span>no</span><input type="radio" name="Chocolate" value="false">
  </div>
  <div>
    <label for="imageUrl">image url: </label>
    <input type="text" name="imageUrl">
  </div>
  <div>
    <input type="submit" value="Add a Recipe">
  </div>

  <div>
</form>
