<!DOCTYPE html>
<html>
    <head>
        <title>Pizza Express</title>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
    {{{body}}}
    </body>
</html>
