body{
  background-color: #117D81;
}
h1{
  color:white;
  text-align: center;
}
ul{
  list-style: none;
  text-align: center;
  font-size: 20px;
}
a{
  color: white;
  text-align: center;
  font-size: 20px;
}
.home{
  text-align: center;
  margin-left: 30px;
}
.add{
  text-align: center;
  margin-left: 30px;
}
