<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" type="text/css" href="/style.css">
    <meta charset="utf-8">
    <title>Users</title>
  </head>
  <body>
    <h1>USERS, ITEMS, AND OTHER THINGS</h1>
    <br/>
    <div class="home"><a href="/users">HOME</a></div>
    {{{ body }}}
  </body>
</html>
